{% extends "videodata_app/base.html" %}
{% load static %}
{% load videodata_app_tags %}

{% block content %}
	{% render_video video tags True %}
<!-- POPUP -->
<div class="cont_popup" hidden>
	<div id="form-data">
			{% csrf_token %}
		<form id="form" role="form">
			<div class="form-group">
			<input type="hidden" value=""  name="start_time" />
			<input type="hidden" value=""  name="end_time" />

			<input class="form-control" style="width: 100%" type="text" value=""  name="name" placeholder="De quién se trata?" />
		
			<input class="form-control" style="width: 100%" type="text" value=""  name="short_desc" placeholder="Qué pasó?"/>
			
			<textarea class="form-control" name="description" style="width: 100%" placeholder="Descripción sobre lo ocurrido..."></textarea>

			<br>
			<button class="btn btn-default cancelar">Cancelar</button>
			<button id="confirm_marck"  class="btn btn-default pull-right">Guardar</button>
			</div>
		</form>
	</div>

</div>	
	<script type="text/template" id="mark_tmpl">
		<div class="mark"></div>
	</script>


	<!-- 
	 -->



{% endblock %}